<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/canthonyparkinson/TryParseNullable/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="canthonyparkinson" />
            <add key="ClearTextPassword" value="cbad76d60949d6d98cda29ad56bffa8c7487a526" />
        </github>
    </packageSourceCredentials>
</configuration>